@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap");
@import url(//codepen.io/chrisdothtml/pen/ojLzJK.css);
@font-face {
  font-family: "Comfortaa";
  font-weight: normal;
  font-style: normal;
  src: url(fonts/comfortaa.woff) format("woff");
}
* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #000000;
  justify-content: stretch;
  font-family: "Montserrat", Verdana;
  margin: 0 auto;
  min-height: 100vh;
  width: 100%;
}

main {
  padding-top: 19px;
  padding-bottom: 19px;
  padding-right: 19px;
  padding-left: 19px;
  grid-area: content;
  width: 100%;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

div {
  margin: 0;
  padding: 0;
  border: 0;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 36px;
  color: white;
  text-shadow: 2px 2px 5px black;
  padding-bottom: 20px;
  text-align: center;
  width: 100%;
}

h3 {
  width: 100%;
  font-size: 20px;
  color: white;
  text-shadow: 2px 2px 5px black;
  padding: 20px 0px;
}

p {
  font-size: 15px;
  color: white;
  font-family: "Montserrat";
}

section {
  padding-bottom: 20px;
}

aside {
  grid-area: aside;
}

footer {
  grid-area: footer;
  background-color: #222222;
  display: block;
  color: white;
  height: 75px;
  bottom: 0;
  width: 100%;
}

label {
  color: white;
}

a, a:visited, a:hover, a:active {
  color: inherit;
}

form {
  box-sizing: border-box;
  font-size: 32px;
  text-align: left;
  padding: 20px;
}

form p {
  font-size: 32px;
}

button, .boton-ext {
  border: none;
  outline: none;
  color: #111;
  background: #fff;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  font-family: inherit;
  font-weight: 700;
}

.boton-ext {
  width: 150px;
  font-size: 20px;
}

.button:before {
  content: "";
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.button:active {
  color: #000;
}

.button:hover:before {
  opacity: 1;
}

.button:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #fff;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
.bodyindex {
  display: grid;
  grid-template-areas: "header" "banner" "content" "aside" "footer";
}

.body {
  display: grid;
  grid-template-areas: "header" "banner" "content" "footer";
}

.header {
  grid-area: header;
  background-color: #ffffff;
  width: 100%;
  height: 60px;
  position: sticky;
  top: 0;
  margin: 0 auto;
  box-sizing: border-box;
  z-index: 1;
}

.toggle__button {
  display: none;
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle__button .bar {
  height: 3px;
  width: 100%;
  background-color: black;
  border-radius: 10px;
}

.nav__list {
  list-style: none;
  font-size: 20px;
  font-weight: 700;
}
.nav__list a {
  text-decoration: none;
}

[class*=__container] {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 60px;
}

.banner {
  grid-area: banner;
  display: flex;
  background-color: black;
  width: 100%;
  height: 120px;
  justify-content: center;
  align-items: center;
  color: white;
}

.banner__title {
  display: inherit;
}

.footer__container {
  min-height: 75px;
}

.container p {
  color: black;
}

.logo {
  background-image: url(../img/Logo.svg);
  background-repeat: no-repeat;
  text-indent: -9999px;
  display: block;
  overflow: hidden;
  width: 170px;
  height: 40px;
}

.title {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  font-family: "Comfortaa";
}

.main__content {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.content {
  text-align: center;
  width: 100%;
}
.content li {
  color: white;
}

.new__video {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.members {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  text-align: center;
  margin: auto;
}

.members .img {
  border-radius: 10px;
  min-width: 200px;
  min-height: 200px;
}

.overlay {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  transition: 0.5s ease;
  opacity: 0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

.member__container:hover .overlay {
  opacity: 1;
}

.img1 {
  background-image: url(../img/Heejin.jpg);
  background-size: cover;
}

.img2 {
  background-image: url(../img/Hyunjin.jpg);
  background-size: cover;
}

.img3 {
  background-image: url(../img/Haseul.jpg);
  background-size: cover;
}

.img4 {
  background-image: url(../img/Yeojin.jpg);
  background-size: cover;
}

.img5 {
  background-image: url(../img/Vivi.jpg);
  background-size: cover;
}

.img6 {
  background-image: url(../img/KimLip.jpg);
  background-size: cover;
}

.img7 {
  background-image: url(../img/Jinsoul.jpg);
  background-size: cover;
}

.img8 {
  background-image: url(../img/Choerry.jpg);
  background-size: cover;
}

.img9 {
  background-image: url(../img/Yves.jpg);
  background-size: cover;
}

.img10 {
  background-image: url(../img/Chuu.jpg);
  background-size: cover;
}

.img11 {
  background-image: url(../img/Gowon.jpg);
  background-size: cover;
}

.img12 {
  background-image: url(../img/OliviaHye.jpg);
  background-size: cover;
}

.member__container {
  position: relative;
  max-width: 300px;
}

.tour__table {
  color: white;
  text-align: center;
  margin: auto;
  font-size: 32px;
}

.tour__table tbody tr td a {
  text-decoration: none;
}

.spotify {
  width: 50%;
  max-width: 560px;
}

.video__description {
  font-weight: 700;
  min-width: 300px;
  text-align: left;
}

.fa-brands {
  padding: 0px 10px;
  text-decoration: none;
}

.galeria {
  min-height: 800px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: aquamarine;
}

.fa-star {
  padding: 5px;
  font-size: 30px;
}

.contact__image {
  border-radius: 10px;
  width: 100%;
  height: auto;
}

.contact p {
  padding-bottom: 20px;
}

.bio p {
  text-align: left;
  padding-bottom: 10px;
}

.blog__container {
  flex-direction: column;
}

@media only screen and (min-width: 767px) {
  aside {
    padding: 20px;
  }

  .bodyindex {
    display: grid;
    grid-template-areas: "header header" "banner banner" "content aside" "footer footer";
    grid-template-rows: 60px 120px 1fr 75px;
    grid-template-columns: auto 30%;
  }

  .nav__list li {
    display: inline-block;
  }

  .nav__list a {
    background: linear-gradient(to right, rgb(255, 255, 255), rgb(255, 255, 255)), linear-gradient(to right, rgb(255, 0, 0), rgb(255, 0, 180), rgb(0, 100, 200));
    background-size: 100% 3px, 0 3px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;
  }

  .nav__list a:hover {
    background-size: 0 3px, 100% 3px;
  }

  .video__description {
    float: left;
    width: 50%;
    padding-left: 50px;
  }

  .spotify {
    float: left;
  }

  .blog {
    float: right;
    width: 50%;
  }

  [class*=__container] {
    box-sizing: border-box;
    margin: 0px 20px;
    min-height: 60px;
  }

  .members {
    max-width: 50%;
  }
}
@media (max-width: 766px) {
  aside {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
  }

  .toggle__button {
    display: flex;
  }

  .header__nav {
    width: 100%;
  }

  .header__logo {
    margin-top: 0.75rem;
    margin-left: 0.5rem;
  }

  .nav__list {
    flex-direction: column;
    display: none;
    width: 100%;
    background-color: white;
    align-items: center;
  }

  .nav__list.active {
    display: flex;
  }

  .nav__list ul {
    width: 100%;
  }

  .nav__list li {
    text-align: center;
  }

  .header__container {
    flex-direction: column;
    align-items: flex-start;
  }

  .main__content {
    display: flex;
    flex-direction: column;
  }

  .column {
    flex-direction: column;
  }

  .video__description {
    width: 100%;
    padding-bottom: 20px;
  }

  .video {
    flex: 1;
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
  }

  .video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .spotify {
    width: 100%;
  }

  .content {
    display: flex;
    flex-direction: column;
  }

  .form__container {
    flex-direction: column;
  }

  .footer__container {
    flex-direction: column;
    box-sizing: inherit;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 175%;
  }

  .footer__container p {
    font-size: 12px;
  }
}
@media (max-width: 375px) {
  main {
    max-width: 375px;
  }

  .tour__table {
    font-size: 20px;
  }

  .members {
    grid-template-columns: repeat(2, 1fr);
  }

  .members .img {
    min-width: 150px;
    min-height: 150px;
  }
}

/*# sourceMappingURL=style.css.map */
